/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-alpha-xxx-light: #D7D4FE;
    --global-color-alpha-xx-light: #A59EFC;
    --global-color-alpha-x-light: #9088F7;
    --global-color-alpha-light: #695EE6;
    --global-color-alpha: #3326CB;
    --global-color-alpha-dark: #0C0095;
    --global-color-alpha-x-dark: #080066;

    
    --global-color-alpha-transparent: #3326CBbf;
    --global-color-alpha-x-transparent: #3326CB4d;

    --global-color-beta-x-light: #D9AAFE;
    --global-color-beta-light: #AF5BF2;
    --global-color-beta: #9128E4;
    --global-color-beta-dark: #6201AF;
    --global-color-beta-x-dark: #470180;

    --global-color-neutral-xx-light: #F3F2F8;
    --global-color-neutral-x-light: #E8E7EF; 
    --global-color-neutral-light: #D0CFE1;
    --global-color-neutral: #B5B3CB;
    --global-color-neutral-dark: #888799;
    --global-color-neutral-x-dark: #5B5A66;
    --global-color-neutral-xx-dark: #414147;
    --global-color-neutral-xxx-dark: #262629;

    /* Whitespace */
    --global-baseline: 8px;
    --global-whitespace-xxs: var(--global-baseline); /* 8 */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* 16 */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* 24 */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* 32 */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* 40 */
    --global-whitespace-xl: calc(var(--global-baseline) * 6); /* 48 */

    /* transitions */
    --global-transition-alpha: .1s;

    --global-font-space: "Orbitron", "Open Sans", Arial, Helvetica, sans-serif;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    color: var(--global-color-neutral-xx-light);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom right, var(--global-color-beta-dark), var(--global-color-alpha-dark));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 29px;
    line-height: 43.5px;
    margin: 0 0 24px;
}

h2 {
    font-size: 23px;
    line-height: 34.5px;
    margin: 0 0 24px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 24px;
}

h4 {
    font-size: 18px;
    line-height: 27px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--global-transition-alpha);
    color: var(--global-color-alpha);
    outline-color: var(--global-color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--global-color-alpha);
}

a:hover,
a:focus {
    color: var(--global-color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--global-color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: app
    ---
    Main app styling
*/

.c-app {
    margin-left: auto;
    margin-right: auto;
    max-width: 24.5em; /* 24.5 * 16px = 392 */
    width: 100%;
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    fill: none;
    stroke: var(--global-color-neutral-xx-light);
    width: 128px;
    height: 128px;
    display: block;
    margin: var(--global-whitespace-md) auto;
}

/* 
    Component: Time / Countdown
    ---
    Styling for countdown timer and date
*/

.c-time {
    text-align: center;
    margin-bottom: var(--global-whitespace-lg);
}

.c-time__text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: var(--global-whitespace-xs);
}

.c-time__countdown {
    margin-bottom: var(--global-whitespace-xs);
}

.c-countdown {
    display: inline-block;
}

.c-countdown__timer {
    font-family: var(--font-orbitron);
    font-size: 29px;
    font-weight: 500;
}

.c-countdown__bar {
    content: "";
    height: 4px;
    background-color: var(--global-color-alpha-light);
    position: relative;
}

.c-countdown__bar::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 60%;
    background-color: var(--global-color-neutral-xx-light);
    left: 0;
}

/*
    Component: Info
    ---
    Styling for info about the launch
*/

.c-info__header {
    background-color: var(--global-color-neutral-xx-light);
    color: var(--global-color-alpha-x-dark);
    fill: var(--global-color-alpha-x-dark);
    padding: 16px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-info__header h2,
.c-info__header h3,
.c-info__details h4 {
    font-family: var(--font-orbitron);
    margin: 0;
}

.c-info__expand {
    cursor: pointer;
    transition: transform 1s;
}

.is-expanded .c-info__expand {
    transform: rotate(-180deg);
}

.c-info__details {
    margin-top: 16px;
    max-height: 0;
    transition: max-height 1s;
    overflow: hidden;
}

.is-expanded .c-info__details {
    max-height: 500px;
}

/*
    Component: Landing page layout
    ---
    Styling for the landing page with CSS Grids
*/

.c-landing {
    max-width: 1000px;
    padding: 0 24px;
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 80px;
}

.c-landing__intro,
.c-landing__mockup {
    align-self: center;
}

.c-landing__intro {
    text-align: center;
}

.c-landing__mockup {
    padding: 0 25%;
}

.c-landing__intro,
.c-landing__form {
    grid-column: span 12;
}

.c-landing__mockup {
    display: none;
}

@media (min-width: 768px) {
    .c-landing__mockup {
        display: block;
    }

    .c-landing__intro,
    .c-landing__mockup {
        grid-column: span 6;
    }
}

/*
    Component: Intro
    ---
    Styling for title of the app and it's intro
*/

.c-intro .c-logo {
    display: none;
    margin-top: 0;
}

.c-intro p {
    margin-bottom: 0;
}

.c-intro h1 {
    font-family: var(--font-orbitron);
    margin-bottom: var(--global-whitespace-lg);
}


/*
    Component: Form
    ---
    Class to style the form layout
*/

.c-form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: var(--global-whitespace-xs);
}


.c-form h3 {
    grid-column: span 3;
    text-align: center;
    font-weight: 600;
    margin-bottom: var(--global-whitespace-lg);
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    background: transparent;
    border: 1px solid var(--global-color-neutral-light);
    border-radius: 8px;
    font-family: inherit;
    font-size: 16px;
    color: var(--global-color-neutral-xx-light);
    
    line-height: calc(var(--global-baseline) * 3);
    padding: 11px 16px;
    outline: none;
    transition: border var(--global-transition-alpha);
}

.c-input:hover,
.c-input:focus,
.c-input:active {
    border-color: var(--global-color-neutral-xx-light);
}

.c-input:focus,
.c-input:active {
    box-shadow: 0 0 0 3px var(--global-color-alpha);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    margin-bottom: 0;
    font-size: 14px;   
    line-height: 21px;
    color: var(--global-color-neutral-xx-light);
}

/*
    Component: Floating label
    ---
    Class to style the form layout
*/

.c-form-field {
    position: relative;
}

.c-label {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 4px 16px;
    will-change: transform;
    transform: translateY( 0 );
    transition: transform 200ms ease-in-out;
}

.c-form-field:focus-within .c-label,
.is-floating .c-label {
    transform: translateY(-36px);
}



/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background-color: var(--global-color-alpha-light);
    padding: 11px 16px;
    color: #fff;

    line-height: calc(var(--global-baseline) * 3);
    width: 100%;
    outline: none;
    transition: all var(--global-transition-alpha);
}

.c-button:hover {
    background-color: var(--global-color-alpha-x-light);
}

.c-button:focus {
    box-shadow: 0 0 0 3px var(--global-color-alpha-x-transparent);
}

.c-button:active {
    background-color: var(--global-color-alpha-dark);
    box-shadow: none;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
